name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    # Os testes de controller não precisam da API rodando, então os executamos primeiro.
    # Isso permite que o pipeline falhe mais rápido se houver um erro de unidade.
    - name: Rodar testes de unidade (Controller)
      run: npm run test-rest-controller

    # A partir daqui, subimos as APIs para rodar os testes de integração e carga.
    - name: Subir a API Rest 
      run: npm run start-rest &

    - name: Subir a API GraphQL 
      run: npm run start-graphql &

    - name: Esperar as APIs estarem prontas
      run: npx wait-on tcp:3000 tcp:4000 -t 30000

    - name: Criar .env
      run: |
        echo "BASE_URL_REST=${{ secrets.BASE_URL_REST }}" >> .env
        echo "BASE_URL_GRAPHQL=${{ secrets.BASE_URL_GRAPHQL }}" >> .env

    - name: Instalar k6
      uses: grafana/setup-k6@v1.3.0

    - name: Rodar testes de Integração (External) e Carga (k6)
      run: npm test

    - name: Publicar relatório de testes
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: mochawesome-report
        path: mochawesome-report